extends ../application.html

block headers
  style
    #container { height:50px;}
    #NSdiv {height: 100%;}
    #NSdiv iframe {height:1000px; width:100%}

  script(type="text/javascript")
    // Fix the damn heights
    $(function(){
      var $NSdiv = $('#NSdiv');
      var $NSiframe = $('#NSiframe');

      var height = $(window).height() - $NSdiv.offset().top;

      $NSdiv.height(height - 10);
      $NSiframe.height(height - 10);
    })
    

block content
  div#controls
    - if(offeredNation)
        form(action="/nations", method="post")
          input(type="hidden", name="nation", value="#{offeredNation}")
          .btn-group
            button.btn(
              type="submit",
              name="sent",
            ) Sent TG to #{offeredNation}
            button.btn(
              type="submit",
              name="ignored",
            ) Ignored #{offeredNation}
    - else
        p No nations available! 
          a(href="/nations/new") Check again

        
  - if(offeredNation){
      div#NSdiv
        iframe#NSiframe(
          src="http://www.nationstates.net/nation=#{offeredNation}"
        )
  - }
