extends ../application.html

block content
  if offeredNation
    section.row
      .span4.center-text
        form.margin-auto.form-inline(
          action="/nations/#{nationSource}", method="post"
        )
          input#offeredNation(
            type="hidden",
            name="nation",
            value="#{offeredNation}"
          )
          input#nationSource(
            type="hidden",
            name="source",
            value="#{nationSource}"
          )
          .btn-group
            button.btn(
              type="submit",
              name="sent",
            ) Sent TG 
              i.icon-envelope
            button.btn(
              type="submit",
              name="ignored",
            ) Ignored Nation 
              i.icon-trash 
      .span4
          p.text-info.center-text(style="margin-top:5px;font-size:1.3em")
            strong #{offeredNation}
      .span4.require-js
        .center-text.input-append
          textarea#TGParsed(rows="1",style="overflow:hidden;resize:none")
          button#EditTG.btn(
            type="button",
            data-toggle="modal",
            data-target="#EditTGModal"
          ) Edit
        .modal.hide.fade#EditTGModal
          section.modal-header.clearfix
            button.close(
              type="button",
              data-dismiss="modal",
              aria-hidden="true"
            ) &times;
            h3 Edit TG
          section.modal-body
            form
              section
                textarea#TGSource.margin-auto(
                  style="width:100%; height:200px; display:block; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;"
                )
              section(style="margin-top:20px")
                button.btn(
                  type="button",
                  data-toggle="collapse",
                  data-target="#TGHelp"
                ) Help
                #TGHelp.collapse
                  .help-block.well
                    p
                      | A nation's name is inserted automatically using the
                      | #NATION# tag.
                    p
                      | Eg, while recruiting "The Novel Questioners
                      | of The New Inquisitors", a TG written
                    pre
                      | "Hi, #NATION#, how would you like to play some chess?"
                    p
                      | will be formatted
                    pre
                      | "Hi, The New Inquisitors, how would you like to play
                      | some chess?"
          section.modal-footer
            button#SaveTG.btn.btn-primary(data-dismiss="modal") Save

    section.row
      div.span12#NSdiv
        iframe#NSiframe(
          src="http://www.nationstates.net/nation=#{offeredNation}#sendtgbox"
        )

  else
    .hero-unit
      p#no-nations No nations available! 
        a(href="/nations/#{nationSource}/new") Check again
        script
          $(function(){
            $timer = $('<div/>');
            $('#no-nations').append($timer)
            $timer.text('Trying again in 5s...');
            time = 5;

            setInterval(function() {
              time = time-1;

              if(time) {
                $timer.text('Trying again in '+time+'s...');
              }
              else {
                document.location.reload();
              }
            },1*1000);
          })
