extends ../application.html

block headers
  style
    #NSdiv {height: 100%;}
    #NSdiv iframe {height:1000px; width:100%}

  script(type="text/javascript")
    // Fix the damn heights
    $(function() {
      var $NSdiv = $('#NSdiv');
      var $NSiframe = $('#NSiframe');

      if($NSdiv.length) {
        var height = $(window).height() - $NSdiv.offset().top;

        $NSdiv.height(height - 10);
        $NSiframe.height(height - 10);
      }
    })

  script(type="text/javascript")
    $(function() {
      var TGCookieName = "#{nationSource}_TG";
      var TG = $.cookie(TGCookieName) || "";

      var $TGSource = $('#TGSource');
      var $TGParsed = $('#TGParsed');

      $TGSource
        .val(TG)
        .change(function() {
          $TGParsed.val($(this).val()).TG_autofill("#{offeredNation}")
        })
        .change();

      $TGParsed
        .click(function() {
          $(this).select();
        })
        .click();

      $('#SaveTG').click(function() {
        $.cookie(TGCookieName, $TGSource.val());
      });

    });

block content
  if offeredNation
    .row
      .span4.center-text
        form.margin-auto.form-inline(
          action="/nations/#{nationSource}", method="post"
        )
          input(type="hidden", name="nation", value="#{offeredNation}")
          .btn-group
            button.btn(
              type="submit",
              name="sent",
            ) Sent TG 
              i.icon-envelope
            button.btn(
              type="submit",
              name="ignored",
            ) Ignored Nation 
              i.icon-trash 
      .span4
        div.well.well-small
          b(style="margin-left:20px") Nation: #{offeredNation}
      .span4.require-js
        .center-text.input-append
          textarea#TGParsed(rows="1")
          button#EditTG.btn(
            type="button",
            data-toggle="modal",
            data-target="#EditTGModal"
          ) Edit
        .modal.hide.fade#EditTGModal
          .modal-header.clearfix
            button.close(
              type="button",
              data-dismiss="modal",
              aria-hidden="true"
            ) &times;
            h3 Edit TG
          .modal-body
            textarea#TGSource.margin-auto(
              style="width:80%; height:200px;display:block;"
            ) Hi #NATION#, have a link! #NATION_LINK#
            dl.dl-horizontal
              dt #NATION#
              dd Dear #NATION# -> Dear Example Nation
              dt #NATION_LINK#
              dd Link to #NATION_LINK# -> Link to example_nation
          .modal-footer
            button#SaveTG.btn.btn-primary(data-dismiss="modal") Save

    .row
      div.span12#NSdiv
        iframe#NSiframe(
          src="http://www.nationstates.net/nation=#{offeredNation}"
        )

  else
    .hero-unit
      p#no-nations No nations available! 
        a(href="/nations/#{nationSource}/new") Check again
        script
          $(function(){
            $timer = $('<div/>');
            $('#no-nations').append($timer)
            $timer.text('Trying again in 5s...');
            time = 5;

            setInterval(function() {
              time = time-1;

              if(time) {
                $timer.text('Trying again in '+time+'s...');
              }
              else {
                document.location.reload();
              }
            },1*1000);
          })
