extends ../application.html

block content
  div Totals for #{prevTotalsDate.toDateString()}
  div
    ul
      for data in prevRecruitmentNumbers
        li #{data.recruiter} - #{data.count}
  div Current Stats for #{currentTotalsDate.toDateString()}
  div
    ul
      for data in currentRecruitmentNumbers
        li #{data.recruiter} - #{data.count}
