extends ../application.html

block content
  h1 Recruitment Numbers
  if prevRecruitmentNumbers.length
    h2 Totals for #{prevTotalsDate.toDateString()}
    ol
      for data in prevRecruitmentNumbers
        li #{data.recruiter} - #{data.count}

  if currentRecruitmentNumbers.length
    h2 Current Stats for #{currentTotalsDate.toDateString()}
    ol
      for data in currentRecruitmentNumbers
        li #{data.recruiter} - #{data.count}
